.opportunities {
  // position: relative;
  // z-index: 1;
}

.body {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
  justify-content: space-between;

  @media (width < 768px) {
    flex-direction: column;
    gap: 0px;
  }
}

.boxImg {

  // flex: 0 0 50%;
  position: relative;
  z-index: -1;

  @media (width < 1440px) {
    // width: 110%;
    margin: 0 -16px;

    img {
      height: 100%;
      width: 100%;

      // display: block;
      &:last-child {
        display: block;
      }

      &:first-child {
        display: none;
      }
    }

  }

  



  img {
    @media (width > 1440px) {
      &:first-child {
        // display: block;
      }

      &:last-child {
        display: none;
      }
    }


    // height: 100%;
    // width: 100%;
    // display: block;
  }
}

.content {
  border-radius: 30px;
  // flex: 0 0 50%;
  position: relative;
  z-index: 3;
}

.topContent {
  padding: 40px;
  border-radius: 30px;

  @media (width < 768px) {
    padding: 20px;
  }
}

.bottomContent {
  padding: 40px;
  border-radius: 30px;
  display: flex;
  gap: 20px;

  @media (width < 768px) {
    padding: 20px;
    flex-direction: column;
  }
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bottBox {
  display: flex;
  gap: 12px;
  flex: 1 0 0;

  svg {
    min-height: 20px;
    min-width: 20px;
    display: block;
  }
}