.header {
  position: fixed;
  width: 100%;
  z-index: 200;
  //    background: #fff;
}

.menu {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}

.activeBg {
  background: #445371;
  position: absolute;
  top: 4px;
  height: 48px;
  transition: all 0.1s;
  border-radius: 24px;
  z-index: 1;
}

.menuItem {
  position: relative;

  &.active {

    a {
      color: #fff;
      // mix-blend-mode: difference;
    }
  }

  a {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 24px;
    justify-content: center;
    // mix-blend-mode: difference;
    position: relative;
    z-index: 3;
  }

}

.logo {
  display: block;
}

.langBtn {
  background: transparent;
  border: none;
  padding: 18px 24px;
  cursor: pointer;
  position: relative;
  z-index: 200;
}

.langItem {
  display: flex;
  gap: 16px;
  z-index: 100;
}