.footer {
  margin-top: 40px;
}

.body {
  border-radius: 30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 60px;

  @media (width < 768px) {
    padding: 20px;
    gap: 16px;
    margin-bottom: 20px;
  }
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (width < 768px) {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}

.logo {
  width: 262px;
  height: 164px;

  svg {
    height: 100%;
    width: 100%;
  }
}

.infos {
  display: flex;
  gap: 40px;

  @media (width < 768px) {
    gap: 16px;
    justify-content: space-between;
    width: 100%;
  }
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 192px;
  margin: 0;

  @media (width < 768px) {
    gap: 8px;
    width: auto;
    flex: 1 1 50%;
  }
}

.manuItem {
  a {
    padding: 0;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;

    @media (width < 768px) {
      font-size: 16px;
      word-break: break-all;
    }
  }

  @media (width < 768px) {
    gap: 8px;
  }
}

.apps {
  display: flex;
  gap: 20px;

}

.app {
  @media (width < 768px) {
    padding: 16px;
    flex: 1 1 50%;
  }

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;

  @media (width < 768px) {
    text-wrap: wrap;
  }

}