.main {
  overflow: hidden;

}

.body {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    z-index: 100;
    top: -330px;
    right: -400px;
    background: url('../../src/assets/Imgs/Top.png') 0 0 /contain no-repeat;
    height: 1164px;
    width: 1164px;
    z-index: -1;
  }

  &::before {
    // content: '';
    // position: absolute;
    // z-index: 100;
    // top: -330px;
    // right: -400px;
    // background: url('../../src/assets/Imgs/Star 7.png') 0 0 /contain no-repeat;

  }
}

.img {
  margin-top: 70px;
  width: 820.342px;
  height: 811.585px;
  overflow: visible;
  position: relative;
  z-index: 1;


  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}