.main {
  width: 100%;
  // overflow-x: hidden;
  overflow-y: visible;
  position: relative;
}

.body {
  position: relative;
  z-index: 1;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }


  &::before {
    // content: '';
    // position: absolute;
    // z-index: 100;
    // top: -330px;
    // right: -400px;
    // background: url('../../src/assets/Imgs/Star 7.png') 0 0 /contain no-repeat;

  }
}

.box {}

.img {
  margin-top: 150px;
  margin-right: 35px;
  width: 620.342px;
  height: 611.585px;
  overflow: visible;
  position: relative;
  display: flex;

  &::before {
    content: "";
    position: absolute;
    z-index: 100;
    top: -232px;
    right: -261px;
    background: url('../../src/assets/Imgs/Vector.svg') 0 0 /contain no-repeat;
    width: 948.9px;
    height: 772.672px;
    z-index: -1;
  }


  img {
    display: block;
    object-fit: contain;
    position: absolute;
    top: 15px;

    &:nth-child(1) {
      right: 50px;
      width: 277.713px;
      height: 570px;
      transform: rotate(10deg);
      // box-shadow: 20.386px 32.618px 122.318px 0px rgba(0, 0, 0, 0.10);
      filter: drop-shadow(20.386px 32.618px 122.318px rgba(0, 0, 0, 0.10));
      z-index: 1;
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }

    &:nth-child(2) {
      left: 50px;
      width: 277.713px;
      height: 570px;
      transform: rotate(-10deg);
      // box-shadow: 20.386px 32.618px 122.318px 0px rgba(0, 0, 0, 0.10);
      filter: drop-shadow(20.386px 32.618px 122.318px rgba(0, 0, 0, 0.10));
      z-index: 2000;
    }
  }
}


.moveImg {
  position: absolute;
  width: 277.713px;
  height: 570px;
  z-index: 1000;
  top: 165px;
  left: 1010px;

  img {
    height: 100%;
    width: 100%;
    // transform: rotate(-10deg);
    // box-shadow: 20.386px 32.618px 122.318px 0px rgba(0, 0, 0, 0.10);
    filter: drop-shadow(20.386px 32.618px 122.318px rgba(0, 0, 0, 0.10));
    z-index: 2;
  }

  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}