.body {
  padding: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (width < 768px) {
    padding: 20px;
  }
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  &:first-child {
    flex: 0 0 360px;

    @media (width < 768px) {
      flex: 1 1 auto;
    }
  }

  &:last-child {
    flex: 0 0 360px;

    @media (width < 768px) {
      flex: 1 1 auto;
    }
  }


  max-width: 426px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;

  @media (width < 768px) {
    height: 220px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}